.codehilite .gd {
    color: #f00 !important;
}
.codehilite .gd, .md-typeset .highlight .gd {
    background-color: transparent;
}
.codehilite .gi {
    color: #a6e22e !important;
}
.codehilite .gi, .md-typeset .highlight .gi {
    background-color: transparent;
}
